@import "./../../utils/global.style.scss";


.row-panel.template2{
    background: none;

    .container-panel{
        border-radius: 10px;
        background-color: rgba(235, 106, 15,0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        gap: 25px;
    }

    .container-row{
        display: flex;
        flex-direction: column;
        
    }

    .panel-image{
        display: none;
    }

   
    
}

@media only screen and (min-width:$tablet-min) {
    .row-panel.template2{
    
        
        .container-row{
            display: flex;
            flex-direction: row;
            width: 80%;
        }

        .panel-description{
            flex: 2;
        }

        .panel-image{
            display: flex;
        }
        
    }
    
}
