@import "./../../utils/global.style.scss";

$drop : true; 


.navAdminMax {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 210px;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 130%;
    border-right: solid rgb(195, 195, 195) 2px;
    margin-bottom: 40px;
    padding-left: 40px;
}
  
.navAdminMax  li a {
    display: block;
    color: white;
    padding: 10px 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 50px;
    text-decoration: none;
    border-radius: 5px;
}
  
.navAdminMax  a:hover:not(.active) {
    background-color: $tertiary-color;
}


.navAdminMin{padding: 0 ;}




.adminDropdown a,
.dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: $tertiary-color;
    width: 300px;
}

.dropbtn {
    border-radius: 5px;
}

.dropbtn span {
    vertical-align: 5px;
}

li a:hover,
.dropdown:hover .dropbtn {}

li.adminDropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: $main_orange;

}

.dropdown:hover .dropdown-content {
    display: block;
}

img{
    width: 20PX;
    padding: 0;
    padding-left: 200PX;
}


@media screen and (min-width:$mobile-max) {
    .navAdminMin{
        display: none;
    }

    .navAdminMax{
        display: block;
    }
}

@media screen and (max-width:$mobile-max) {
    .navAdminMin{
        display: block;
    }
    .navAdminMax{
        display: none;
    }
}












@media screen and (max-width:$mobile-max){
    
}