@import './utils/global.style.scss';

.version{
    position: absolute;
    right: 0;
}

.input-container{

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
    .input {
        background-color: $primary-color;
        padding: 12px 10px;
        font-size: 0.9rem;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
        font-family: 'Montserrat';
    }

    textarea{
        min-height: 100px;
        margin-bottom: 20px;
        resize: none;
    }

    label{
        font-size: 0.9rem;
        font-family: 'Montserrat';
    }
}

.error-container{
    display: flex;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid $error_dark;
    background-color: $error_light;
    color: $main_white;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
    /* Track */
    ::-webkit-scrollbar-track {
    border-radius: 5px;
    }
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: $tertiary-color; 
    border-radius: 10px;
}