@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    /*global color */
    --home-bg-color: #06001C;
    --main_orange: #FA8F21;
    --main_pink:#fe71c9;


    /* breakpoint */
    --laptop:1280px;
    --mobile:768px;
}

