@import "./../../utils/global.style.scss";



.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay;
    z-index: 100;
}



.popup{
    display: flex;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    
}

.container-popup{
    max-width: 500px;
    min-height: 300px;
    max-height: 90vh;
    transform: scale(0);
    width: 100%;
    margin: 0 20px;
    display: flex;
    border-radius: 5px;
    border: 5px;
    flex-direction: column;
    background-color: $secondary-color;
    transition-duration: 0.3s;

    &.active{
        transform: scale(1);
    }
}

.header-popup{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-popup{
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $tertiary-color;
    border-radius: 5px;
}

.body-popup{
    flex: 1;
    display: flex;
    padding: 10px;
    margin: 10px;
    overflow: auto;
}

.c-title{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.c-name{
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 10px;
}

.c-close{
    cursor: pointer;
}

@media screen and (min-width:$laptop-min){

    
    .container-popup {
        max-width: 50%;
    }
    


}
