.partnerList {
    padding-top: 3rem;
}

.partnerList .list{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    margin: 30px 0;
    position: relative;
}

.partnerList .list span {
    width: 100px;
    height: 100px;
    display: flex;
    background-size: cover;
    border-radius: 5px;
    transition: 0.5s;
}

.partnerList .list div {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.partner-name{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}




.partnerList h1{
    color : #EB5D0B;
    text-align: center;
    margin-bottom: 10px;
    font-size: 160%;
}

@media only screen and (max-width:550px) {
    .partnerList .list div {
        min-width: 100px;
        min-height: 100px;
        border-radius: 10px;
        margin: 15px;
    }
}

@media only screen and (max-width:490px) {
    .partnerList .list div {
        min-width: 70px;
        min-height: 70px;
        border-radius: 10px;
        margin: 12px;
    }
}