@import "./../utils/global.style.scss";

.adminPage {
    background-color: $primary-color;
    height: 100%;
}

.adminStructure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.adminContent {
    margin-left: 300px;
    width: 80%;
}


@media screen and (max-width:$mobile-max) {
    .adminStructure {
        flex-direction: column;
        align-items: center;
    }

    .adminContent {
        width: 90%;
        margin-left: 0%;
        margin-top: 20px;
    }
}

