@import '../../../../utils/global.style.scss';


.info-event {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-image-event{
    width: 100%;
    height: 200px;
    display: flex;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.info-container-desc{
    padding: 10px;
}

@media screen and (min-width:$laptop-min){

    
    .info-event {
        flex-direction: row-reverse;
    }

    .info-container-desc{
        display: flex;
        flex: 2;
    }

    .info-container-image{
        display: flex;
        flex: 1;
    }
    


}