
@import "./../../utils/global.style.scss";

.eventAdmin{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.headEventAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.backToMainSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btnAddEvent{
    background-color: $main_orange;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    max-width: 320px;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
}

.headEventAdmin h1 {
    display: none;
    margin-top: 0px;
}

.allAdminEvent{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap: 25px;
    flex: 1;
}

.oneAdminEvent-card{
    width: 100%;
    height: 100%;
    
}

.oneAdminEvent{
    background-color: $tertiary-color;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    max-width: 260px;
    width: 100%;
    min-width: 200px;
    height: 280px;




    &.hidden {
        background-color: rgba(30, 25, 50,0.3);

        .oneAdminEvent-card div:not(.headOneAdminEvent){
            opacity: 0.3;
        }
        
        
    }
}


.supprimerOptionEventAdmin{
    color: $error_light;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.headOneAdminEvent{
    display: flex;
    justify-content: space-between;
    font-size: 120%;
}


.headOneAdminEvent .dotImg{
    width: 20px;
    cursor: pointer;
}

.imgAdminEvent{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    margin-top: 20px; background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.infoAdminEvent{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

/********** Gerer l'evenement**********/

.optionActive{
    position: absolute;
    
}

.optionEventAdmin{
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 20px;
}

.optionEventAdmin div:hover{
    background-color: $light-color;
    border-radius: 5px;
    cursor: pointer;
}

.optionEventAdmin{
    position: absolute;
    background-color: $tertiary-color;
    width: 200px;  
    border-radius: 6px;
    margin-left: 90px;
    margin-top: 25px;
}

.optionEventAdmin div {
    padding: 10px;
}

.modifierOptionEventAdmin{
    border-bottom: solid 2px $primary-color;
}

.inscriptionOptionEventAdmin{
    border-bottom: solid 2px $primary-color;
}

.dotImg2{
    width: 8%;
    margin-left: 91.7%;
}

@media screen and (max-width:$tablet-max) {
    .eventAdmin{
        margin-right: 0px;
    }
}

@media screen and (max-width:$mobile-max) {
    .eventAdmin{
        margin-right: 0px;
    }
}