$primary-color: #06001C;
$secondary-color: #120D27;
$tertiary-color: #1E1932;
$main_white:#FFFFFF;
$main_orange: #EB5D0B;
$main_pink:#fe71c9;


/* breakpoint */
$laptop-max:1280px;
$laptop-min:1024px;
$tablet-max:1023px;
$tablet-min:768px;
$mobile-max:767px;
$mobile-min:440px;

.rowContainer{
    display: flex;
    justify-content: center;
}

.flexContainer{
    display: flex;
    justify-content: space-between
    ;
}

.flexContainerColumn{
    display: flex;
    flex-direction: column;
}

.addImgEvent{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: grey;
}
