$primary-color: #06001C;
$secondary-color: #120D27;
$tertiary-color: #1E1932;
$main_white:#FFFFFF;
$main_orange: #EB5D0B;
$main_pink:#fe71c9;


/* breakpoint */
$laptop-min:1024px;
$laptop-max:1280px;
$tablet-max:1023px;
$tablet-min:768px;
$mobile-max:767px;
$mobile-min:440px;

.rowContainer{
    display: flex;
    justify-content: center;
}