@import "./../../utils/global.style.scss";

footer {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.footerLink{
    text-decoration: none;
    color : #EB5D0B;
    font-weight: 700;
}

.linkLinkedin{
    text-decoration: none;
    color : $light-color;
    font-weight: 500;
}