@import "./../../utils/global.style.scss";

.listEvent h2{
    color : $main_orange ;
    text-align: center; 
    margin: 60px 0;
    font-size: 1.8rem;
}
.listEvent{
  max-width: 1280px;
  width: 100%;
}


.allEvent {
    display: flex;
    flex-wrap: wrap;
    gap : 180px;
    
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    transition: 1s;
    padding-bottom: 30px;
 }

 .event{
   cursor: pointer;
   user-select: none;
 }

 .event-image {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 10px;
   display: flex;
   background-size: cover;
   justify-content: center;
 }


 .eventAction {
    background-color: aliceblue;
    padding: 10px 20px;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    font-size: 1rem;
    color: $primary-color;
    text-align: center;
 }

 .eventInformation { 
   margin-top: 25px;
   text-indent: 10px;
 }


 .eventTitle {
   font-size: 1.6rem;
   font-weight: 600;
   margin: 0;
 }

 .eventDate {
   font-size: 1.2rem;
   font-weight: 400;
   margin: 0;
 }


 @media only screen and (min-width: $tablet-min) {
   .allEvent {
      justify-content: flex-start;
   }
  

 }